{% extends "hackme/base.html" %}
{% block content %}
  <div class="container">
    <hr class="divider" />
    <div class="row justify-content-center col-md-12">
      <h2> References </h2>
    </div>
    <hr class="divider" />

    <div class="row col-md-12">
      <p>
        This web application was developed using the Django framework. External references concerning the web applications content and media can be found below.
      </p>
    </div>

    <div class="row mt-4 col-md-12">
      <h4> Content</h4>
    </div>
    <hr class="divider" />
    <div class="row col-md-12">
      <p>
        <ul>
          <li class="mb-4"> <b> Chapter 1 - Section 1: </b>
          <ol>
            <li>From www.linux.com: <a id="external" href="https://www.linux.com/learn/how-use-linux-command-line-basics-cli"> How to Use the Linux Command Line: Basics of CLI </a> </li>
            <li>From www.le.ac.uk: <a id="external" href="https://www.le.ac.uk/oerresources/bdra/unix/page_17.htm"> Introduction to Unix </a> </li>
          </ol>
          </li>

          <li class="mb-4"> <b> Chapter 1 - Section 2: </b>
          <ol>
            <li>From security.stackexchange.com: <a id="external" href="https://security.stackexchange.com/questions/119410/why-should-one-use-sudo"> Why should one use sudo? </a> </li>
          </ol>
          </li>

          <li class="mb-4"> <b> Chapter 1 - Section 3: </b>
          <ol>
            <li>From www.itgovernance.co.uk: <a id="external" href="https://www.itgovernance.co.uk/ec-council"> What is ethical hacking? </a> </li>
            <li>From www.greycampus.com: <a id="external" href="https://www.greycampus.com/opencampus/ethical-hacking/what-is-ethical-hacking"> What is ethical hacking? </a> </li>
            <li>From www.greycampus.com: <a id="external" href="https://www.greycampus.com/opencampus/ethical-hacking/phases-of-hacking">Phases of Hacking</a> </li>
            <li>From www.simplilearn.com: <a id="external" href="https://www.simplilearn.com/phases-of-ethical-hacking-article"> The Five Phases of Ethical Hacking </a> </li>
          </ol>
          </li>

          <li class="mb-4"> <b> Chapter 2 - Section 2: </b>
          <ol>
            <li>From nmap.org: <a id="external" href="https://nmap.org/"> NMap </a> </li>
          </ol>
          </li>

          <li class="mb-4"> <b> Chapter 2 - Section 3: </b>
          <ol>
            <li>From www.wireshark.org: <a id="external" href="https://www.wireshark.org/docs/"> Wireshark Docs </a> </li>
            <li>From www.tcpdump.org: <a id="external" href="https://www.tcpdump.org/"> tcpdump documentation </a> </li>
          </ol>
          </li>

          <li class="mb-4"> <b> Chapter 2 - Section 4: </b>
          <ol>
            <li>From www.pentestgeek.com: <a id="external" href="https://www.pentestgeek.com/what-is-burpsuite"> What is Burp Suite </a> </li>
            <li>From portswigger.net: <a id="external" href="https://portswigger.net/burp"> PortSwigger - Burp Suite </a> </li>
          </ol>
          </li>

          <li class="mb-4"> <b> Chapter 3 - Section 1: </b>
          <ol>
            <li>From www.offensive-security.com: <a id="external" href="https://www.offensive-security.com/metasploit-unleashed/modules-and-locations/"> Metasploit Modules and Locations </a> </li>
            <li>From metasploit.help.rapid7.com: <a id="external" href="https://metasploit.help.rapid7.com/docs"> Metasploit Documentation </a> </li>
          </ol>
          </li>

          <li class="mb-4"> <b> Chapter 3 - Section 2: </b>
          <ol>
            <li>From searchsecurity.techtarget.com: <a id="external" href="https://searchsecurity.techtarget.com/definition/back-door"> backdoor (computing) </a> </li>
            <li>From metasploit.help.rapid7.com: <a id="external" href="https://metasploit.help.rapid7.com/docs"> Metasploit Documentation </a> </li>
          </ol>
          </li>

          <li class="mb-4"> <b> Chapter 3 - Section 3 & 4: </b>
          <ol>
            <li>From metasploit.help.rapid7.com: <a id="external" href="https://metasploit.help.rapid7.com/docs"> Metasploit Documentation </a> </li>
          </ol>
          </li>

        </ul>
      </p>
    </div>

    <div class="row mt-4 col-md-12">
      <h4> Media </h4>
    </div>
    <hr class="divider" />
    <div class="row col-md-12">
      <p>
        <ul>
        <li> The badges were created with <a class="external" href="http://www.onlinebadgemaker.com/3d-badge-maker"> www.onlinebadgemaker.com </a> </li>
        <li> The HackHub logo was created with <a class="external" href="https://logomakr.com/"> logomakr.com </a> </li>
        <li>
          All other pictures located in the <b> media </b> directory are referenced below:
          <ol>
            <li> <a id="external" href="https://schoolsweek.co.uk/wp-content/uploads/2018/01/Up-arrow-graph-feat.jpg"> progress.jpg </a> </li>
            <li> <a id="external" href="https://www.pexels.com/photo/blur-business-coffee-commerce-273222/"> chapters.jpg </a> </li>
          </ol>
        </li>
        </ul>
      </p>
    </div>

    <div class="row my-5 col-md-12">
      <p>
        The sources referenced in this section are referenced in the report.
      </p>
    </div>
  </div>
{% endblock content %}
