{% extends "hackme/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">
    <div class="row px-4">
      <div class="media col-md-8">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <div class="col-md-4 align-self-center">
        <button class="btn btn-outline-dark float-right" data-toggle="collapse" data-target="#demo">Update Profile</button>
      </div>
    </div>

    <div class="container my-5">
      <h4> Your Progress:</h4>
      <div class="progress">
          <div class="progress-bar" style="width:{{ progress }}%">{{ progress|floatformat }}%</div>
      </div>
    </div>

    <div class="container my-5">
      <h4> Badges</h4>
      <hr class="divider" />
      <div class="row">
        {% for sect, compl in badges.items %}
          {% if compl == True %}
          <div class="col-md-3">
            <img src="../../media/{{ sect }}.png" />
          </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <div id="demo" class="collapse">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Update Profile</legend>
          {{ u_form|crispy  }}
          {{ p_form|crispy  }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
