{% extends "hackme/index.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div>
    <h1 class="font-weight-bold"> HackHub </h1>
    <hr class="divider my-4">
  </div>
    <div class="content-section  pb-4">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Join Today</legend>
          {{ form|crispy  }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Sign up</button>
        </div>
      </form>
      <div class="border-top pt-3">
        <small class="text-muted">
           Already have an account? <a class="ml-2" href="{% url 'login' %}">Log In</a>
        </small>
      </div>
    </div>
{% endblock content %}
