{% extends "hackme/base.html" %}
{% block content %}

<div class="container">
  <div class="row jumbotron">
    <div class="col-md-8">
      <h1 class="display-5 font-weight-bold"> Introduction & Basics </h1>
      <h2> 1.2: Users & Permissions </h2>
    </div>
    <div class="col-md-4 align-self-center">
        <a class="btn btn-success float-right" href="{% url 'ch1qz2' %}" target="_blank" role="button">Take Quiz</a>
    </div>
  </div>
</div>

<div class="container my-4">
  <div class="row">
    <h3 class="font-weight-bold">Users</h3>
  </div>
  <hr class="divider">
  <div class="row">
    <p>
      A UNIX-like system's user can either be a regular user, an administrative user or a service account.
      <ul>
        <li>
          <b>Root/Superuser: </b>An administrative <b>root</b> account, commonly known as a superuser, is automatically created
          and has administrative privileges for all services, access to all commands and files on the system.
        </li>
        <li>
          <b>Regular Users: </b> have the necessary privileges to perform standard tasks on a Linux computer such as
          running word processors, databases, and Web browsers. They can store files
          in their own home directories. Since regular users do not normally have administrative privileges,
          they cannot accidentally delete critical operating system configuration files.
        </li>
        <li>
          <b> Service Accounts: </b>  are usually created and configured when service software is installed by the packet manager.
          Through their individual accounts, services can interact with the operating system. Common examples of service accounts include
          email, printing and web-sever software's accounts.
        </li>
      </ul>
    </p>
  </div>
  <div class="row mt-4">
      <h4> Sudo </h4>
  </div>
  <div class="row">
    <p>
      While a superuser is authorised to use all commands and has access to all sensitive files on the system, regular users have limited
      access to particular files and directories (such as system files) and to which commands they can use and where. Limiting
      the power of regular users, can add a layer of security, protecting the system and its files from both malicious
      exploitation of the administrative priviledges and accidental misusage of those priviledges.<br />
      <br />
      The <code> sudo </code> command can be used by a regular user to run a command with the priviledges of a sustem administrator/superuser.
      For example, in cases where a user needs to access, modify or even remove files they don't have the permission to, sudo can be
      used to elevate the user's privilidges and allow them to perform the desired action.<br />
      <br />
      <big> Usage: </big> Before typing a command that requires root privileges to be carried out, the user must initially type sudo in a the terminal: <code> sudo [command] </code>
    </p>
  </div>
  <div class="row">
    <p class="font-italic small">
      You must always perform tasks working as a regular user unless the directory or files you are working on
      require root priviledges. Working as root on regular directories/files will not only change their permissions to root, but
      prevents you from accidentally deleting or altering critical operating system files.
    </p>
  </div>
  <div class="row mt-4">
    <h4 class="font-weight-bold"> Permissions </h4>
  </div>
  <hr class="divider">
  <div class="row">
    <p>
      While practising <code> ls </code> in the previous section, you might have noticed that <code> ls -l</code> outputs a string of characters for each
      of the working directory's contents as can be seen in the screenshot below.<br />
      <br />
      <img class="center" src="../../media/permissions.png" alt="permissions"><br />
      <br />
      This string represents the file's type and permissions and can be broken down to 4 components:
      <ol>
        <li>
          The first character specifies if the subject is:
          <ul>
            <li> <b>d </b> a directory</li>
            <li> <b>- </b> a file</li>
            <li> <b>l </b> a symbolic link, which is file containing a reference to another file/directory as a path. It can be thought of as a shortcut in Windows.</li>
          </ul>
        </li>
        <li>
          Characters 2-4 represent the owner's permissions:
          <ul>
            <li> <b>r </b> indicates the owner can read the file  or <b> - </b> otherwise. </li>
            <li> <b>w </b> indicates the owner can modify the file or <b> - </b> otherwise. </li>
            <li> <b>r </b> indicates the owner can execute the file or <b> - </b> otherwise. </li>
          </ul>
        </li>
        <li> Characters 5-7 represent the permissions of the group's members that own the file, denoted with <b> rwx </b>, exactly as the owner's permissions.</li>
        <li> Characters 8-10 represent the permissions for the rest of the users, denoted with <b> rwx </b> as the other user categories.</li>
      </ol>
    </p>
  </div>
  <div class="row">
    <h4> Changing Permissions & Owner</h4>
  </div>
  <div class="row">
    <p>
      You can change the permissions of a file or multiple files for your user account using the <code> chmod </code> command. The permission modifications are defined by using the
      <code> + </code> or <code> - </code> symbol denoting the addition or removal of a permission corre spondingly, immediately followed by the permission type (<code> r, w, x</code>)
      You can also change the group or global permissions of the file by using the letters <code> g </code> or <code> a </code> right before the +/- symbols.<br />
    <br />
    <big> Usage: </big><code> chmod [a/g][+/-][r/w/x] [filename(s)] </code><br />
    <em> <b>Example: </b><code> chmod g+w passwords.txt</code> will enable the group of owners to modify the passwords.txt file.</em>
    </p>
  </div>
  <div class="row">
    <p>
      The owner of a file or multiple files can also be change with the <code> chown </code> command.<br />
      <br />
      <big> Usage: </big><code> chown [new_owner] [filename(s)] </code><br />
    </p>
  </div>
{% endblock content %}
