{% extends "hackme/base.html" %}
{% block content %}

<div class="container">
  <div class="row jumbotron">
    <div class="col-md-8">
      <h1 class="display-5 font-weight-bold"> Essential Tools  </h1>
      <h2> 2.1: Setting up your Hacking Environment</h2>
    </div>
  </div>
</div>

<div class="container my-4">
  <div class="row col-md-12">
    <p>
      This chapter will introduce you to some of the most popular and essential command-line tools for any penetration tester.
      Certain tools, such as Nmap, can be considered a crucial part of footprinting and therefore, are preinstalled in OS distributions dedicated to penetration testing (such as Kali Linux).<br />
      <br />
      In order to familiarise yourself with the tools as well as experiment and observe their actual functionality, you will need to target another system.
      Of course, performing such tasks on other real systems not only is illegal unless explicit permission from the owner has been provided, but can cause permanent damage to the system accidentally or even intentionally in some cases.
      It is therefore crucial to work with disposable, simulated systems, that have been created for this purpose such as virtual machines.

    </p>
  </div>

  <div class="row mt-4 col-md-12">
    <h4 class="font-weight-bold"> Working with Virtual Machines </h4>
  </div>
  <hr class="divider">
  <div class="row col-md-12">
    <p>
      The benefits of working with a virtual machine may already be clear from using the Kali Linux VM, especially when it comes to ethical hacking.
      As mentioned above, virtual machines provide a sandbox environment to the user encouraging experimentation. Therefore, users can practise their hacking skills
      by targeting a VM especially designed to be attacked and hacked. Ideally, the VM will intentionally be vulnerable allowing users to detect and exploit a number of different vulnerabilities.
    </p>
  </div>

  <div class="row mt-4 col-md-12">
    <h4> Metasploitable 2 </h4>
  </div>
  <hr class="divider">
  <div>
    <p>
      Metasploitable 2 is an intentionally vulnerable virtual machine with a version of Ubuntu Linux OS, designed to provide a vulnerable and easily exploitable target for ethical hackers. It was created by <a id="external" href="https://www.rapid7.com"> Rapid7</a>, the owners of the Metasploit Framework which is one of the leading penetration testing frameworks and it's mainly intended to be used in combination with Metasploit. Chapter 3 will focus on the Metasploit Framework and demonstrate how it can be used to successfully penetrate metasploitable. For the moment, we will use it as a target to put the skills gained from each section into practice.
    </p>
  </div>

  <div class="row mt-4 col-md-12">
    <h5> Installation and Configuration: </h5>
  </div>
  <div>
    <p>
      <ol>
        <li> Download the Metasploitable 2 image. You can do this using <a id="external" href="https://sourceforge.net/projects/metasploitable/">this link</a>.</li>
        <li> Once the download is complete, navigate to VirtualBox and click on the New button at the top left.</li>
        <li> You can name this "metasploitable" and you should set the type to "Ubuntu" and version to "Ubuntu(64-bit)".</li>
        <li> Select the desired amount of RAM to be allocated. 2048 MB should be enough.</li>
        <li> In the "Hard Disk" screen, select the "Use an existing virtual disk image" option and browse your files to find the image downloaded earlier.</li>
        <li> By selecting create, your virtual machine should be created.</li>
      </ol>

      <big> Once your have started the Metasploitable VM, you will be prompted to login. Use "msfadmin" for both username and password.</big><br  />
      <br />
      With metasploitable created, you will now need to run both Kali Linux and this in parallel in order to be able to experiment on it. In order to achieve this each VM must obtain its own IP address. This is achieved following the steps below:
      <ol>
        <li> In VirtualBox main screen, click on the "Global Tools" button located on the top right.</li>
        <li> Then, select "Host Network Manager" from the available options.</li>
        <li> On the next screen, click on the "Create" button on the top left. </li>
        <li> A new item should appear below signifying that a host-only network has successfully been created.</li>
        <li> Make sure that DHCP Server is enabled, listed as an attribute of the item created. </li>
        <li> Go back to the main screen by pressing the "Machine Tools" button. </li>
        <br /><big>Do the following for both VMs:</big><br /><br />
        <li> Select the VM and click on the "Settings" button on the top left.</li>
        <li> Select the "Network" tab from the menu on the left and then the "Adapter 2" tab from the on-screen tab list.</li>
        <li> Enable the Network Adapter and set attached to to "Host-only Adapter" from the dropdown menu.</li>
        <li> Set "name" to the network adapter created in step 4 and click OK.</li>
      </ol>
      After following the above, you should have 2 virtual machines with different IP addresses, connected to a virtual network. You can check this by using the <code> ifconfig </code> command. Each machine's IP address can be found in the "eth0" block labeled as "inet".
    </p>
    <div class="alert alert-warning">Warning: After powering on your Kali VM, you may need to manually enable the network adapter that connects you to the internet. You can do that by clicking "Connect" on the corresponding network adapter, on the upper taskbar network settings.</div>
  </div>


</div>

{% endblock content %}
