{% extends "hackme/base.html" %}
{% block content %}

<div class="container">
  <div class="row jumbotron">
    <div class="col-md-8">
      <h1 class="display-5 font-weight-bold"> Footprinting with Command-line based Tools  </h1>
      <h2> 2.1: Nmap (Network Mapper)</h2>
    </div>
    <div class="col-md-4 align-self-center">
        <a class="btn btn-success float-right" href="{% url 'ch2qz1' %}" target="_blank" role="button">Take Quiz</a>
    </div>
  </div>
</div>

<div class="container my-4">
  <div class="row">
    <p>
      Nmap (Network Mapper) is a command line tool for network discovery and security auditing. It can be used by a hacker to collect valuable information for systems and networks especially during the process of footprinting.
      Using raw IP packets, amongst many others, Nmap is able to:
    <ul>
      <li> Determine the available hosts on a network. </li>
      <li> Obtain information about the services the hosts are offering such as their name and version. </li>
      <li> Retrieve information about the hosts' operating systems such as name and version. </li>
      <li> Discover and identify open & close ports on a network or a host. </li>
      <li> Send crafted packages to networks and hosts. </li>
      <li> Identify the type of packet filters and firewalls the hosts use. </li>
    </ul><br />
      An alternative to the command line interface is Zenmap which provides the same functionality in a GUI. Zenmap is available on Kali Linux.
    </p>
  </div>

  <div class="row mt-4">
    <h4 class="font-weight-bold"> Nmap as a Port Scanner </h4>
  </div>
  <hr class="divider">
  <div class="row">
    <p>
      Due to its information retrieving and data collecting capabilities, Nmap is a powerful tool that can be used to initiate an attack to a system.
      Upon discovering a host's open ports, it can use them to obtain information about the host's OS and DNS lookups. This allow Nmap to determine and test if a host is vulnerable to exploitation.
    </p>
  </div>

  <div class="row mt-4">
    <h4> Usage </h4>
  </div>
  <div class="row">
    <p>
      In the following section the field <code>[IP] </code> stands for a host's IP Address and <code>[hostname] </code> for a host's address as URL. You can view your machine's IP address using the <code> ifconfig </code> command.
    </p>
    <ul>
      <li class="my-2">
        <b>Basic Scan: </b> <code class="command"> nmap [IP or hostname] </code>
      </li>
      <hr class="divider">
      <li class="my-2">
        <b> Port type scan: </b> <code class="command"> nmap <b>[option]</b> [IP or hostname] </code><br />
        Options:
        <ul>
          <li> <b><code>-sS </code></b> scans using TCP SYN scan, to identify what ports are open without waiting for an acknowledgment from the TCP connection (default)</li>
          <li> <b><code>-sT </code></b> scans TCP ports.</li>
          <li> <b><code>-sU </code></b> scans UDP ports.</li>
        </ul>
      </li>
      <hr class="divider">
      <li class="my-2">
        <b> Specific port scan: </b> <code class="command"> nmap <b>[option]</b> [IP or hostname] </code><br />
        Options:
        <ul>
          <li> <b><code>-p [port_number] </code></b> scans a single port (default).</li>
          <li> <b><code>-p [port_range] </code></b> scans a range of ports eg. 1-10.</li>
          <li> <b><code>-p- </code></b> scan all 65535 ports.</li>
        </ul>
      </li>
      <hr class="divider">
      <li class="my-2">
        <b> Scan the most popular ports: </b> <code class="command"> nmap <b>--top-ports [num_of_ports]</b> [IP or hostname] </code>
      </li>
      <hr class="divider">
      <li>
        <b>Enalbe OS and service detection: </b> <code> nmap -A [IP or hostname]</code><br />
        This is a very good way to obtain useful information which may help in detecting potential exploits for particular services. Including the <code> -T4 </code> option will make the execution faster.
      </li>
      <hr class="divider">
      <li>
        <b>Detect service versions: </b> <code> nmap <b> -sV </b> [IP or hostname] </code>
      </li>
    </ul>
  </div>
  <div class="row mt-4">
    <h4 class="font-weight-bold"> Nmap Scripting Engine (NSE) </h4>
  </div>
  <hr class="divider">
  <div class="row">
    <p>
      Nmap Scripting Engine (NSE) provides users with a broad collection of scripts automating a wide variety of networking tasks. Using the scripts, users can perform more sophisticated network discovery and OS detection. NSE also allows to perform vulnerability detection and exploitation.<br />
      <br />
      Apart from the Nmap's scripts and the ones provided from the community, users are able to create custom scripts. On Kali, scripts are located in /usr/share/nmap/scripts and can be identified by the <em>.nse </em> extension or simply by using the <code>locate *.nse </code> command.<br />
      <br />
      <div class="alert alert-danger">Warning: It is crucial to remember that some of the scripts can be invasive and can even damage the target system accidentally or intentionally. In order to ensure that you will not harm your system or any other system you are not authorised to, you must always target systems created explicitly for learning and experimentation. Additionally, third party scripts from untrusted sources must be checked to ensure their functionality before running them.</div>
    </p>
  </div>

  <div class="row my-4">
    <h4> Running Scripts: </h4>
  </div>
  <div class="row">
    <p>
      Nmap has a predefined collection of scripts that can be run with the following command: <code> nmap -sV -sC [IP or hostname]</code> <br />
      <br />
      In order to run a specific script either from the collection provided or a custom script, you have to specify the name of the script using the <code> --script </code> option as shown: <code> nmap -sV --script=[script_name] [IP or hostname] </code>.
      If the script requires you to provide arguments, you can supply using the <code> --script-args [arguments] </code> option right after the <code> --script=[script_name] </code> option.<br />
      <br />
      To view more information and get help about a specific script run the following command: <code> nmap --script-help [script_name] </code>.
    </p>
  </div>



</div>

{% endblock content %}
