{% extends "hackme/base.html" %}
{% block content %}

<div class="container">
  <div class="row jumbotron">
    <div class="col-md-8">
      <h1 class="display-5 font-weight-bold"> Essential Tools </h1>
      <h2> 2.4: Burp Suite </h2>
    </div>
    <div class="col-md-4 align-self-center">
        <a class="btn btn-success float-right" href="{% url 'ch2qz4' %}" target="_blank" role="button">Take Quiz</a>
    </div>
  </div>
</div>

<div class="container my-4">
  <div class="row col-md-12">
    <p>
      Burp Suite is a graphical Web Penetration Testing framework specialised in vulnerability detection.
      With a collection of tools available, it is able identify and verify attack vectors web applications are vulnerable to and provide feedback on them to the user.<br />
      <br />
      Fundamentally, Burp Suite can intercept and analyse traffic when the user browses a web application by configuring a web browser to route traffic through Burp Suite's proxy server.
      The proxy, acting as man-in-the-middle, can capture each request to and from the target web application which can then be manipulated or replayed revealing potential injection points and unintended usages of the application that can be abused.<br />
      <br />
      Kali Linux comes with the free community version of Burp Suite pre-installed, which includes a number of different tools that can be useful to a penetration testing attack.
    </p>
  </div>

  <div class="row col-md-12 mt-4">
    <h4> Tools </h4>
  </div>
  <hr class="divider">
  <div class="row col-md-12">
    <p>
      <ul>
        <li class="my-2"><b>HTTP Proxy: </b>Captures traffic from/to web application by operating as a proxy server, from which the requests pass through. </li>
        <li class="my-2"><b>Scanner: </b>Performs secuirity scans, detecting potential vulnerabilities of a web application automatically. </li>
        <li class="my-2"><b>Intruder: </b> Performs automated attacks on web applications. By generating malicious HTTP requests it can attempt numerous attacks such as SQL Injections, Cross Site Scripting (XSS) as well as brute-force attacks.</li>
        <li class="my-2"><b>Spider: </b>Browses the web application systematically in order to discover its overall structure, content and functionality and create a map of its internal architecture. </li>
        <li class="my-2"><b>Repeater: </b> Manipulates, manages and repeats HTTP requests in order to test the target's security and detect vulnerabilities.</li>
        <li class="my-2"><b>Decoder</b> </li>
        <li class="my-2"><b>Comparer</b> </li>
        <li class="my-2"><b>Extender</b> </li>
        <li class="my-2"><b>Sequencer</b> </li>
      </ul>
    </p>
  </div>

  <div class="row col-md-12 mt-4">
    <h4> Configuration </h4>
  </div>
  <hr class="divider">
  <div class="row col-md-12">
    <p>
      Before intercepting traffic, you need to configure your web browser to route traffic through Burp's proxy. To do that on your Kali VM:
    </p>
    <ol>
      <li class="my-2"> Launch Burp Suite.</li>
      <li class="my-2"> From the tab menu, select the proxy tab and then the options sub-tab. </li>
      <li class="my-2"> Click on the cog button on the left and select "Restore Defaults".</li>
      <li class="my-2"> You should see an entry in the table of this panel with interface set to "127.0.0.1:8080". This is the default port the proxy is configured to.</li>
      <li class="my-2"> Launch Firefox from the taskbar on the left. </li>
      <li class="my-2"> From the menu on the top right, select "Preferences". </li>
      <li class="my-2"> On the "General" tab scroll down until you see the "Network Proxy" section and click the "Settings..." button.</li>
      <li class="my-2"> Select the "manual proxy configuration" option and in the "HTTP Proxy" field enter "127.0.0.1". </li>
      <li class="my-2"> Check the "Use this proxy server for all protocols" box. </li>
      <li class="my-2"> Click the OK button and close any remaining dialogs.</li>
    </ol>
    <p>
      If you followed the above steps correctly the network traffic can now be intercepted by Burp Suite.
    </p>
  </div>



</div>

{% endblock content %}
