{% extends "hackme/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
  <div class="row jumbotron">
    <div class="col-md-8">
      <h1 class="font-weight-bold"> Essential Tools </h1>
      <h2> 2.4: Burp Suite </h2>
    </div>
    <div class="col-md-4 align-self-center">
      <a class="btn btn-warning float-right" href="{% url 'ch2ex4' %}" role="button">Back</a>
    </div>
  </div>

  <div class="row">
    <h4>Preparation</h4>
  </div>
  <div class="row">
    <p>
      After configuring the proxy server, in your browser, navigate to Metasploitable's IP Address. From there, you can access 4 intentionally vulnerable web application.
      In Burp Suite, navigate to proxy > intercept. Here you are able to enable or disable the intercepter. When enabled, the intercepter will display the HTTP requests
      and allow you to view or modify them before sending them. Therefore, if you have already noticed that web pages are not loading properly when it is enabled, it is
      because you need to manually forward the requests using the "Forward" button.<br />
      <br />
      Visit the DVWA web application using the link provided. Turn on the interceptor and refresh the page. Using the intercepted request answer Question 1.
    </p>
  </div>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group my-4">
      <legend class="border-bottom mb-4">Quiz 2.4</legend>
      {{ form|crispy  }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Submit</button>
    </div>
  </form>

  <hr class="divider my-4">
</div>

{% endblock content %}
