{% extends "hackme/base.html" %}
{% block content %}

<div class="container">
  <div class="row jumbotron">
    <div class="col-md-8">
      <h1 class="display-5 font-weight-bold"> Performing Attacks  </h1>
      <h2> 3.4: Web Application Vulnerabilities  </h2>
    </div>
    <div class="col-md-4 align-self-center">
        <a class="btn btn-success float-right" href="{% url 'ch3qz4' %}" target="_blank" role="button">Take Quiz</a>
    </div>
  </div>
</div>

<div class="container my-4">
  <div class="row col-md-12">
    <p>
      Up until now, we have focused on lower-level, mainly OS-related vulnerabilities. Metasploitable 2 has a number of intentionally vulnerable web applications that can be used to learn and practice on a broad range of web attacks.
      You can access the web applications from Kali using your browser, by navigating to <code> http://[Metasploitable_ip_address] </code> a webpage providing links to the available web applications.
    </p>
  </div>

  <div class="row col-md-12 mt-4">
    <h3 class="font-weight-bold"> Mutillidae </h3>
  </div>
  <hr class="divider">
  <div class="row col-md-12">
    <p>
      Mutillidae covers OWASP's top 10 web vulnerabilities, a well-defined listing of the most popular, common and critical risks web applications face today.
      This includes Injection, Cross-Site Scripting (XSS), Broken Authentication and Cross Site Request Forgery. Mutillidae has 5 levels of difficulty, starting
      from a completely insecure web app all the way up to a secure web app as well as 3 options when it to providing hints. Level 0 disables all hints, level 1 enables hints while level 2 enables detailed hints and tutorials.
    </p>
  </div>

  <div class="row col-md-12 my-4">
    <h4> Initial Setup and Configuration </h4>
  </div>
    <div class="row col-md-12">
      <p>
        In order to be able to use Mutillidae, you first need to correct some configuration settings in your Metasploitable VM.
        <ol>
          <li class="my-2"> Launch the Metasploitable VM and login as root using <b> msfadmin </b> for the username and the password. </li>
          <li class="my-2"> Navigate to the root directory, which is 2 levels up from the current working directory. </li>
          <li class="my-2"> Edit <em> config.inc </em> with <code> sudo nano var/www/mutillidae/config.inc </code> by changing the value of the field <b> $dbname </b> to <b> owasp10</b>.</li>
          <li class="my-2"> Edit <em> php.ini </em> with <code> sudo nano etc/php5/cgi/php.ini </code> by changing the value of the field <b> allow_url_include </b> to <b> On </b>. You can locate the field by searching for "fopen" using <kbd> ctrl + w </kbd> </li>
          <li> Restart Apache with the following command: <code> sudo etc/init.d/apache2 restart </code>. </li>
        </ol>
      </p>
      <p>
        Lastly, navigate to Mutillidae and click on the "Reset DB" button from the menu at the top.
      </p>
    </div>

    <div class="row col-md-12 mt-4">
      <h4> Injection Attacks </h4>
    </div>
    <hr class="divider">
      <div class="row col-md-12">
        <p>
          Injection attacks refer to the injections of malicious code in an application in order to exploit a vulnerability, altering its functionality.
          The result of such an attack can lead to exposure of sensitive or confidential data, bypassing authentication, denial of service or even to the compromisation of the entire system.
          While there exist a lot different injection types, some of the most popular are SQL injection, HTML injection and JavaScript injection. Each type targets a different component of a web application such as the database, its front-end or logic respectively.<br />
          <br />
          Even though the majority of today's websites cannot be easily targeted by injection attacks, Mutillidae can be exploited using the simplest forms of injections.
        </p>
      </div>

      <div class="row col-md-12 mt-4">
        <h4> SQL Injection </h4>
      </div>
      <hr class="divider">
        <div class="row col-md-12">
          <p>
            Mutillidae's database has a table storing the users' credentials which is accessed every time a user registers or logs in. This is achieved through SQL queries which have a standardised structure. Let's try modifying that query by injecting SQL code in the login form. For now, set the difficulty level to 0.
            <ol>
              <li> Create a new account by registering if you haven't done this already. </li>
              <li> From the sidebar on the left, select "OWASP Top 10 > A1 - Injection > SQLi - Extract Data > User Info".</li>
              Using your account's credentials correctly in the form provided, returns your account details using the following query: <code> SELECT * FROM accounts WHERE username='[username]' AND password='[password]'</code>. The fields get replaced with your input and the query is carried out successfully. But what happens if you enter characters or words that are used to construct an SQL query?
              <li> In the username field, type your username followed by a space and a single quote (') and press "View Account Details".</li>
              An error message appears, showing the query that was constructed. The single quotes are used to define the username field's value but the quote we have entered has caused an error as it alters the query's syntax.
              What if you took advantage of this flaw to alter the query in order to return all the contents of the "accounts" table?
              <li> This can be achieved by insterting the following in the username field: <b> a ' OR 1=1 # </b></li>
              While character "a" could be any character or string not matching any table record, OR 1=1 makes the overall statement true, while the "#" used to define a comment discards the remaining part of the query.
              <li> As a result, even though the query's WHERE condition is false, the statement after OR is true, SELECT * return all the contents of the accounts table.</li>
            </ol>
          </p>
        </div>

        <div class="row col-md-12 mt-4">
          <h4> Exploring other vulnerabilities </h4>
        </div>
        <hr class="divider">
          <div class="row col-md-12">
            <p>
              SQL Injection is just one of the many different vulnerabilities in Mutillidae. There are many more to discover, exploit and practice with, categorised in regards to OWASP's top 10 vulnerabilities. You can work on topics you may be familiar with already, or topics you have never encountered before by enabling the detailed hints setting (level 2).
              By enabling the hints and tutorials, you will be able to learn about how each vulnerability can be exploited and where to start from. Feel free to experiment with Mutillidae and keep in mind you can always reset the database using the link provided in case something breaks or you just want a fresh start!
            </p>
          </div>


</div>

{% endblock content %}
